<div id="container">
	<div class="registerbox">
		<h1 class="register">Sign In</h1>
	</div>
		<div class="form">
			<%= form_for(:session, url: sessions_path) do |f| %>

			<div class="circle"></div>


			<div class="field">
			  <%= f.text_field :email, placeholder: "Email", class: 'form-input' %>
			</div>

			<div class="field">
			  <%= f.password_field :password, placeholder: "Password", class: 'form-input' %>
			</div>

			<div class="actions">
			  <%= f.submit "Sign in", class: 'signinbutton' %><br><br>
			  Forgot password? <%= link_to "Reset it here", '/reset_password/new' %>
			</div>
			  
			<% end %>
			<hr>
			Don't have an account? <%= link_to "Register now", signup_path %>

		</div>
</div>