<%= form_for(@user) do |f| %>
  
  <div class="circle"></div>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Name', class: 'form-input' %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: 'Email', class: 'form-input' %>
  </div>
  <div class="field">
    <%= f.text_field :username, placeholder: 'Username', class: 'form-input' %>
  </div>
  <div class="field">
    <%= f.password_field :password, placeholder: 'Password', class: 'form-input' %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'form-input' %>
  </div>
  <div class="field">
    <%= f.text_field :birthday, placeholder: 'When were you born?', class: 'form-input datepicker' %>
  </div>
  <div class="field">
    <%= f.check_box :agree %>
    <%= f.label :agree, "I agree to the terms of service" %>
  </div>
  <div class="actions">
    <%= f.submit :submit, :value => "Join", class: 'registerbutton' %>
  </div>
<% end %>
<hr>
