<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="circle"></div>

  <div class="field">
    <%= f.text_field :name, placeholder: 'Name', class: 'form-input' %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: 'Email', class: 'form-input' %>
  </div>
  <div class="field">
    <%= f.text_field :username, placeholder: 'Username', class: 'form-input' %>
  </div>
  <div class="field">
    <%= f.password_field :password, placeholder: 'Password', class: 'form-input' %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: 'form-input' %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday, class: 'datepicker' %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.text_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :agree %><br>
    <%= f.check_box :agree %>
  </div>
  <div class="actions">
    <%= f.submit :submit, class: 'registerbutton' %>
  </div>
<% end %>
